.box1 .box2 {
  color: red;
}
.box1 .box3 {
  color: red;
}
.box1:hover {
  color: yellow;
}
.p1,
.p2 {
  width: 100px;
  height: 200px;
}
.p2 {
  background-color: #bfa;
}
.p3 {
  width: 100px;
  height: 200px;
  background-color: yellow;
}
.p5 {
  width: 100px;
  height: 100px;
  background-color: #bfa;
}
div {
  width: 100px;
  height: 200px;
  border: 1px solid red;
  background-color: #ff8000;
}
div:hover {
  background-color: #cc6600;
}
